#container_formulario {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    margin: auto;
    font-family: arial;
    font-size: 13px;
}

#titulo {
    text-align: center;
    font-family: arial;
    font-size: 1.5em;
}

#container_formulario input[type=submit], #container_formulario input[type=reset] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #ff8500;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#container_formulario input[type=submit]:hover, #container_formulario input[type=reset]:hover{
    background: #ea7b00;
    color: #fff;
}