.container_formulario {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    margin: auto;
    font-family: arial;
    font-size: 13px;
}

#titulo {
    text-align: center;
    font-family: arial;
    font-size: 1.5em;
}

.linha {
    display: block;
    margin-bottom: 15px;
    
}

.container_formulario label > span {
    width: 80px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

#CEP{
    float: none;
}

.container_formulario input[type=text] {
    width: 75%;
}

.container_formulario input[type=email] {
    width: 75%;
}

#cepid {
    width: 20%;
}

#cidadeid {
    width: 30%;
}

.container_formulario input[type=submit], 
.container_formulario input[type=reset] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #ff8500;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.container_formulario input[type=reset]:hover, 
.container_formulario input[type=submit]:hover {
    color: #fff;
}